{port_specs, [{"priv/gdal_nifs.so", ["c_src/*.c"]}]}.

{port_env, [
             {"CFLAGS", "$CFLAGS -std=c99 -fno-common -Wall -O -DGDAL_NIF_DEBUG"},
             {"LDFLAGS", "$LDFLAGS -lgdal"}
             ]}.

{deps, [
        {geo_utils, ".*", {git, "git://github.com/refactor/geo_utils.git", "master"}}
       ]}.


